* {
    /*El asterisco es para todo en el html*/
    font-family: sans-serif;
    color:darkgrey;
    text-align: center;
}

a{
    color: blue;
}
body {
    background-image: url(loscoco.jpg);

}
h1{
    font-style: italic;
}